.header {
    grid-area: header;
    background-color: #9c27b0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-left: 20px;
}
.logo:hover {
    cursor: pointer;
}